.binding {
    border-radius: 40%;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
    padding: 5%;
}

.binding-full {
    width: 100%;
    height: 100%;
    float: left;
}

.binding-half-side {
    width: 50%;
    height: 100%;
    float: left;
}

.binding-half-stack {
    width: 100%;
    height: 50%;
}

.binding-fire {
    border-color: red;
}
.binding-water {
    border-color: blue;
}
.binding-air {
    border-color: skyblue;
}
.binding-earth {
    border-color: brown;
}
.binding-life {
    border-color: green;
}
.binding-chaos {
    border-color: purple;
}