.level-execution-backdrop {
    background-image: url('img/levelexecution/backdrop.png');
}

.rune-container {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.rune-pager-control {
    position: relative;
    font-size: 48px;
    margin-top: 38px;
}

#Arg0OfOne {
    top: 140px;
    left: 110px;
}

#Arg0OfTwo {
    top: 140px;
    left: 20px;
}

#Arg1 {
    top: 140px;
    left: 200px;
}

#Result {
    top: 325px;
    left: 110px;
}

#RuneSlab {
    position: absolute;
    width: 100%;
    overflow-y: visible;
    height: 150px;
    top: 560px;
    background-color: rgba(255,255,255,0.7);
}

#RuneSlabContainer {
    position: absolute;
    overflow-y: visible;
    left: 70px;
}

#RuneSlabContainer > .rune-base {
    float: left;
    margin-right: 15px;
}

#RunePagerPrev {
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

#RunePagerNext {
    float: right;
    margin-right: 12px;
}

.selected-rune {
    position: relative;
    box-shadow: 0px 0px 35px #FFD700;
    transition: box-shadow .5s linear;
    -webkit-animation-name: rune-bounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes rune-bounce {
    0% {top: 0px;}
    10% {top: -10px;}
    20% {top: 0px;}
    30% {top: -5px;}
    40% {top: 0px;}
    100% {top: 0px;}
}

#SpellBook {
    position: absolute;
    height: 530px;
    width: 755px;
    top: 47px;
    left: 256px;
}

#SpellFormsTable {
    table-layout: fixed;
}

#SpellFormsTable td {
    vertical-align: middle;
    text-align: center;
}

#SpellBookRightPage {
    left: 385px;
}

.spell-page {
    position: absolute;
    height: 100%;
    width: 370px;
    float: left;
    background-color: floralwhite;
    padding: 30px;
}

.arg-helper {
    text-align: center;
    font-size: 24pt;
    padding: 15px;
}

.spell-pager-control {
    position: absolute;
    top: 0px;
    font-size: 20px;
}

#SpellBookLeftPage > .spell-pager-control {
    left: 0px;
}

#SpellBookRightPage > .spell-pager-control {
    left: 340px;
}
