#OpeningGraphic {
    text-align: center;
    padding-top: 50px;
    height: 380px;
    font-size: 169px;
}

#OpeningGraphic > p {
    position: relative;
    z-index: 1;
}

.menu-backdrop {
    background: linear-gradient(#e7b5b5, #ffff99);
}

.menu-title-pwnin {
    opacity: 0;
}

.menu-title-pwnin-active {
    opacity: 1;
    text-shadow: 15px 15px 15px;
    transition: 5s;
}

.menu-glyph {
    position: relative;
    color: yellow;
    -webkit-text-stroke: 1px black;
    -webkit-animation-name: glyph-dance-vertical;
    -webkit-animation-duration: 4.2s;
    -webkit-animation-iteration-count: infinite;
}

.menu-glyph-container {
    font-size: 24px;
    position: relative;
    float: left;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation-name: glyph-dance-horizontal;
    -webkit-animation-duration: 27s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes glyph-dance-vertical {
    0% {top: -80px;}
    50% {top: -170px;}
    100% {top: -80px;}
}

@-webkit-keyframes glyph-dance-horizontal {
    0% {left: 20px; font-size: 24px; z-index: 2;}
    46% {font-size: 24px; z-index: 2;}
    50% {left: 1080px;}
    54% {font-size: 18px; z-index: 0;}
    96% {font-size: 18px; z-index: 0;}
    100% {left: 20px; font-size: 24px; z-index: 2;}
}

.menu-list {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu-list li {
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu-button {
    min-width: 180px;
    background-image: url("img/menu/button.png");
    color: white;
}