.rune-base {
    height: 150px;
    width: 150px;
    border-radius: 30%;
    background: -webkit-radial-gradient(#efefef, #838383);
    /* TODO use border-image */
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
