html {
    height: 100%;
    -webkit-user-select: none;
    cursor: default;
}

body {
    height: 100%;
}

#stage {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.flashing-text {
    opacity: 0;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}