<div class='container'>
    <div id='OpeningGraphic'>
        <p><span class="menu-title-modus">Modus</span> <span class="menu-title-pwnin">Pwnins</span></p>
    </div>
    <ul id='MainMenuOptions' class='menu-list'>
        <li><input type='button' value='Play Game' id='PlayGame' class='btn btn-lg menu-button' /></li>
        <li><input type='button' value='Pick Level' id='PickLevel' class='btn btn-lg menu-button' /></li>
        <li><input type='button' value='Options' id='Options' class='btn btn-lg menu-button' /></li>
        <li><input type='button' value='Exit' id='ExitGame' class='btn btn-lg menu-button' /></li>
    </ul>
</div>