<div class="binding <%=displayClass%>">
    <% if (arg1 !== undefined) { %>
    <div class="<%=halfClass%>"><%=arg0%></div>
    <div class="<%=halfClass%>"><%=arg1%></div>
    <% } else { %>
    <div class="binding-full"><%=arg0%></div>
    <% } %>
</div>