<div id="SpellBook">
    <div id="SpellBookLeftPage" class="spell-page">
        <div class="spell-description-contents"></div>
        <input class="spell-pager-control" type="button" value="<" />
    </div>
    <div id="SpellBookRightPage" class="spell-page">
        <div class="spell-control-contents"></div>
        <input class="spell-pager-control" type="button" value=">" />
    </div>
</div>
<div id="RuneSlab">
    <input id="RunePagerPrev" class="rune-pager-control" type="button" value="<" />
    <div id="RuneSlabContainer"></div>
    <input id="RunePagerNext" class="rune-pager-control" type="button" value=">" />
</div>
