<% if (isUnary) { %>
<div id="Arg0OfOne" class="spell-argument rune-container"></div>
<% } else { %>
<div id="Arg0OfTwo" class="spell-argument rune-container"></div>
<div id="Arg1" class="spell-argument rune-container"></div>
<% } %>
<div id="Result" class="rune-container"></div>