<h3 id="SpellTitle"><%= name %></h3>
<table id="SpellFormsTable" class="table table-striped">
    <thead>
        <tr><th colspan="3">Requirements</th><th colspan="2">Yields</th></tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < forms.length; i++) { %>
        <% var form = forms[i] %>
        <tr>
            <% if (isUnary) { %>
            <td>&nbsp;</td>
            <td><%= form.inputs[0] %></td>
            <td>&nbsp;</td>
            <% } else { %>
            <td><%= form.inputs[0] %></td>
            <td>+</td>
            <td><%= form.inputs[1] %></td>
            <% } %>
            <td>=</td>
            <td><%= form.result %></td>
        </tr>
        <% } %>
    </tbody>
</table>