<script type="text/template" id="mainMenuTemplate">
    <!-- @include scenes/mainMenu/main.html -->
</script>
<script type="text/template" id="mainMenuDancingGlyphTemplate">
    <!-- @include scenes/mainMenu/dancingGlyph.html -->
</script>
<script type="text/template" id="pickLevelTemplate">
    <!-- @include scenes/pickLevel.html -->
</script>
<script type="text/template" id="levelExecutionMainTemplate">
    <!-- @include scenes/levelExecution/main.html -->
</script>
<script type="text/template" id="levelExecutionArgHelperTemplate">
    <!-- @include scenes/levelExecution/argHelper.html -->
</script>
<script type="text/template" id="levelExecutionSpellControlTemplate">
    <!-- @include scenes/levelExecution/spellControl.html -->
</script>
<script type="text/template" id="levelExecutionSpellDescriptionTemplate">
    <!-- @include scenes/levelExecution/spellDescription.html -->
</script>
<script type="text/template" id="bindingTemplate">
    <!-- @include modules/binding.html -->
</script>
<script type="text/template" id="glyphTemplate">
    <!-- @include modules/glyph.html -->
</script>
<script type="text/template" id="runeTemplate">
    <!-- @include modules/rune.html -->
</script>